{% extends "base.html" %}
{% load thumbnail %}
{% block content %}

<h1>Colaborador <span {% if profile.user.is_staff %}style="color:Red;"{% endif %}>{{ profile.user.username }}</span> {% if profile.top %}<img src="{{ MEDIA_URL }}images/star.png" alt="Top Colaborador" />{% endif %}</h1>

<br /><br />
<img src="{% if profile.avatar %}{% thumbnail profile.avatar 80x80 crop %}{% else %}{{ MEDIA_URL }}images/avatars/default_avatar.gif{% endif %}" />
<br /><br />

<p><strong>Nome </strong>{{ profile.nome }}</p>
<p><strong>Ano </strong>{{ profile.get_year_display }}</p>
<p><strong>Website </strong>{{ profile.url }}</p>
<p><strong>Colaborações </strong>{{ profile.user.resource_collaborator.count }}</p>

{% if profile.user.resource_collaborator.count %}
<table id="box-table-a" summary="Materias">
    <thead>
    	<tr>
        	<th scope="col">Recursos</th>
            <th scope="col">Matéria</th>
			<th scope="col">Período lecionado</th>
			<th scope="col">Qualidade</th>
			<th scope="col">Comentários</th>		
			<th scope="col">Downloads</th>	
				
        </tr>
    </thead>
    <tbody>
    	{% for r in profile.user.resource_collaborator.all %}
    	<tr>
        	<td><a href="{{ r.get_absolute_url }}">{{ r.title }}</a></td>
			<td><a href="{{ r.subject.get_absolute_url }}">{{ r.subject }}</a></td>
            <td>{{ r.l_period }}</td>
			<td>{{ r.nota }}</td>
			<td>{{ r.comments_set.all.count }}</td>
			<td>{{ r.resource_hit.all.count }}</td>
			
			

        </tr>
		{% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}