{% extends "base.html" %}

{% load resources_tags %}
{% block content %}
<h1>Nossos Colaboradores</h1>
<br />
<table id="box-table-a" summary="Materias">
    <thead>
    	<tr>
        	<th scope="col">Usuário</th>
			<th scope="col">Nome</th>
            <th scope="col">Ano</th>
			<th scope="col">Website</th>
			<th scope="col">Colaborações</th>
			
        </tr>
    </thead>
    <tbody>
    	{% for p in object_list %}
    	<tr>
        	<td><a {% if p.user.is_staff %}style="color:Red;"{% endif %} href="{{ p.get_absolute_url }}">{{p.user.username }}</a></td>
			<td>{{ p.nome }}</td>
            <td>{{ p.get_year_display }}</td>
			<td>{{ p.url }}</td>
			<td>{{ p.user.resource_collaborator.all.count }}</td>

        </tr>
		{% endfor %}
    </tbody>
</table>

{% endblock %}