{% extends "base.html" %}
{% block script %}
<script type="text/javascript">
function addProfessorForm() {
				var form_data = $('#add_professor_form').serialize();
				jQuery.post("/resources/add_professor/", form_data, function(response){
					if (response.succes == "True") {
						$('#professor_div').slideUp();
						$(response.html).insertAfter($("#professor_div"));
						$('#add_professor_succes').slideDown();
					}
					if (response.succes == "True") {
						$('#id_professor').append($('<option></option>').val(response.id_professor).html(response.name_professor));
					}
					if (response.error) {
						$('#p_name_error').html(response.error);
					}
				}, "json");
				
			
				return false;
			
			}
$(document).ready(function(){
	function stopSubmit(){
		return false;
	}
	$('#id_name').click(function(){
		$("#add_professor_form").unbind();	
	$("#add_professor_form").bind("submit",stopSubmit );	
	})
	$('#id_name').bind("blur", function() {
		$('#name_verify').fadeIn();
		
		var name = {'name':$('#id_name').val()};
		jQuery.post("/resources/check_professor/",name,
			function(response){
				if(response.succes == "True"){
					$('#div_check_professor').remove(); 
					$(response.html).insertAfter($("#p_name_error"));
					$("#name_verify").fadeOut();
				}
				else{
					$('#div_check_professor').remove(); 
					$("#name_verify").fadeOut();
				}
			
			},"json");
		//$("#add_professor_form").bind("submit",addProfessorForm );
	});
	$('#add_professor_form').ajaxStop(function(){$(this).bind("submit",addProfessorForm );})
	
	
});
</script>
{% endblock script %}
{% block content %}
<h1>Enviar material</h1>
<form action="." method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in form %}
	<label>
		<span>{{ field.label }}{% if field.field.required %}<span class="req">**</span>{% endif %}</span>  {{ field }} {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
	</label>
	{% endfor %}
	<input type="submit" class="submit" value="Enviar" />
</form>

<div style="display:none;">
	<div id="professor_div" style="padding:20px;">
		<h1>Adicionar novo Professor</h1><br />
		<p>Caso o Professor que você precise não exista,ou não está atrelado a esta matéria, colabore com o site adicionando-o.</p>
		<p>Matéria: <span id="add_professor_subject"></span></p>
		<form method="post" action="." id="add_professor_form">
		<input id="add_professor_subject_input" type="hidden" name="subject" value="" />
		{% csrf_token %}
		{% for field in professor_form %}
		<label>
			<span>{{ field.label }}{% if field.field.required %}<span class="req">**</span>{% endif %}</span>  {{ field }}{% if field.label == 'Nome' %}<span id="name_verify" style="display:none;" class="error"> Verificando consistência...</span>{% endif %}  {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
		</label>
		{% if field.label == 'Nome' %} 
		<p id="p_name_error" class="error"></p>
		{% endif %}
		{% endfor %}
		<input style="margin:20px 0 0 0;" type="submit" class="submit" value="Adicionar" id="submit_add_professor"/>
		</form>
	</div>
</div>
{% endblock %}
