{% extends "base.html" %}

{% block content %}
<h1>Início</h1><br />

<p>A premissa do Repositório ECI é simples: <i>Fornecer material didático para auxiliar os alunos que cursam
as matérias de ECI,</i> seja com provas ou apostilas. Tudo é válido se o príncipio é contribuir.</p>

<p>Aliás, todos os usuários do site são considerados "Colaboradores", e são denominados como tal. Assim, qualquer usuário
registrado pode enviar materiais, comentar sobre as matérias, sobre os professores, sobre tudo.</p>

<p>É importante salientar que apenas <b>alunos</b> do curso terão suas contas aceitas no site.</p>

<p>Resumindo, há 3 coisas que você poderá fazer por aqui:</p>

<ol>
	<li>Baixar conteúdo ilimitado</li>
	<li>Enviar conteúdo</li>
	<li>Comentar e avaliar as matérias,professores e recursos do site</li>
</ol>

Tenha bom proveito!

{% endblock %}

